{
  "@microsoft/generator-sharepoint": {
    "isCreatingSolution": true,
    "environment": "spo",
    "version": "1.8.2",
    "libraryName": "js-injector",
    "libraryId": "f6fabd8c-7686-4c2c-8fa2-0f87af4c712d",
    "packageManager": "npm",
    "isDomainIsolated": false,
    "componentType": "extension",
    "extensionType": "ApplicationCustomizer"
  }
}
